@font-face {
  font-family: Inter;
  src: url(/assets/fonts/static/Inter-Regular.ttf) format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background-color: hsl(0, 0%, 8%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

.container {
  background-color: hsl(0, 0%, 12%);
  max-width: 400px;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
}

.container img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: block;
  margin-inline: auto;
  margin-bottom: 1.25rem;
}

.container h1 {
  font-size: 1.25rem;
  color: #ffff;
  text-align: center;
}
.container h1 span {
  color: hsl(75, 94%, 57%);
  display: block;
  font-size: 0.7rem;
  margin: 0.5rem 0 1rem;
}

.container p {
  color: #ffff;
  text-align: center;
}

.container ul {
  display: grid;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
.container ul li button {
  background-color: hsl(0, 0%, 18%);
  color: #ffff;
  font-size: 0.8rem;
  font-weight: bold;
  width: 100%;
  padding: 1rem;
  border-radius: 0.35rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.15 ease-in-out;
}
.container ul li button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

/* .attribution {
  font-size: 14px;
  text-align: center;
  color: #ffff;
  margin-top: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */
